{% extends "includes.html" %}
{%
        set side_bar_tree = {
            (0,'blank','DashBoard','fa-dashboard'): {},
            (1,'index','CMDB','fa-bar-chart-o'): {
                (0,'server_list', 'Machine List') :{},
                (1,'instance_list', 'Instance List') :{},
                (2,'mmm_list', 'MMM List') :{}
            }
        }
        %}
{% block realbody %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">DP Database Admin</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        {% if data['message_list'] %}
                            {% for msg in data['message_list'] %}
                            <li>
                                   <a href="#">
                                   <div>
                                   <strong>{{ msg['from'] }}</strong>
                                   <span class="pull-right text-muted">
                                   <em>{{ msg['time'] }}</em>
                                   </span>
                                   </div>
                                   <div>{{ msg['content'] }}</div>
                                   </a>
                             </li>
                            <li class="divider"></li>
                            {% endfor %}
                        {% endif %}
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        {% if data['task_list'] %}
                            {% for task in data['task_list'] %}
                                <li>
                                    <a href="#">
                                        <div>
                                            <p>
                                                <strong>{{ task['name'] }} </strong>
                                                <span class="pull-right text-muted">{{ task['progress'] }}% Complete</span>
                                            </p>
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ task['progress'] }}" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                    <span class="sr-only">{{ task['progress'] }}% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                            {% endfor %}
                        {% endif %}

                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                    {% for level1, level1_item in side_bar_tree.iteritems() %}
                        {% if level1_item|length>1 %}
                            {% if level1_name==level1[1] %}
                                <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                            <a href="#" >
                                <i class="fa {{ level1[3] }} fa-fw"></i> {{ level1[2] }}<span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                            {% for level2, level2_item in level1_item.iteritems() %}
                                <li>
                                    {% if level2[1] == level2_name %}
                                        <a href="{{  url_for(level2[1]) }}" class="active">
                                    {% else %}
                                        <a href="{{  url_for(level2[1]) }}">
                                    {% endif %}
                                        {{ level2[2] }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                            </li>
                        {% else %}
                            <li>
                                {% if level1_name==level1[1] %}
                                    <a href="{{  url_for(level1[1]) }}" class="active"><i class="fa {{ level1[3] }} fa-fw"></i>&nbsp;{{ level1[2] }}</a>
                                {% else %}
                                    <a href="{{  url_for(level1[1]) }}"><i class="fa {{ level1[3] }} fa-fw"></i>&nbsp;{{ level1[2] }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- /#wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {{ data['page_name'] }}
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% block page_wrapper %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

