{% extends "frame.html" %}
{% import "bootstrap_form.html" as btstrp %}
{% set level1_name='cmdb' %}
{% set level2_name='instance_list' %}
{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <!-- Nav tabs -->
                    <form role="form" class="form-inline" action="{{ url_for('instance_list') }}" method="GET">
                        {%  set form = data['filter_form'] %}
                        {{ btstrp.render_field(form.dba_owner, label_visible=true, value=form['dba_owner']) }}
                        {{ btstrp.render_field(form.type, label_visible=true, value=form['type']) }}
                        {{ btstrp.render_field(form.status, label_visible=true, value=form['status']) }}
                        <button type="submit" class="btn btn-primary">Apply</button>
                        <a class="btn btn-primary" href="{{ url_for('instance_list') }}">Reset</a>
                    </form>
{#                    <b>Action:</b>#}
{#                    <a type="button"#}
{#                       class="btn btn-warning"#}
{#                       href="{{ url_for('add_server') }}">#}
{#                        Add Server#}
{#                    </a>#}
{#                    <b>Shortcuts:</b>#}
{#                    <a class="btn btn-info" href="{{ url_for('instance_list') }}">All Servers</a>#}
{#                    <a class="btn btn-info" href="{{ url_for('instance_list', use_status='空闲') }}">Free Servers</a>#}
{#                    <a class="btn btn-info" href="{{ url_for('instance_list', type='mysql') }}">MySQL</a>#}
{#                    <a class="btn btn-info" href="{{ url_for('instance_list', status='在线') }}">Online Servers</a>#}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Tab panes -->
                    <div class="tab-pane fade in active" id="inuse">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="instlist">
                                <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>Port</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Biz Owner</th>
                                    <th>DBA Owner</th>
                                    <th>Detail</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  if data['page_data']  %}
                                    {% set table_data = data['page_data']['inst_info']|sort(attribute='server_id') %}
                                    {% for row in table_data %}
                                        <tr >
                                            <td>
                                                {% if row["server_ip"] %}
                                                    <a href="{{ url_for('server_info', server_id = row['server_id']) }}" type="button" class="btn btn-info btn-xs">
                                                        {{ row["server_ip"] }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if row["port"] %}
                                                    <a type="button" class="btn btn-default btn-xs">
                                                        {{ row["port"] }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if row["type"] %}
                                                    <a type="button" class="btn btn-default btn-xs">
                                                        {{ row['type'] }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if row["status"] and row["status"]=="在线" %}
                                                    <a type="button" class="btn btn-success btn-xs">
                                                        {{ row["status"] }}
                                                    </a>
                                                {% elif row["status"]=="下线" %}
                                                    <a type="button" class="btn btn-default btn-xs">
                                                        {{ row["status"] }}
                                                    </a>
                                                {% else %}
                                                    <a type="button" class="btn btn-default btn-xs">
                                                        {{ row["status"] }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if row["jon_owner"] %}
                                                    <a type="button" class="btn btn-default btn-xs">
                                                        {{ row["jon_owner"] }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if row["dba_owner"] %}
                                                    <a type="button" class="btn btn-default btn-xs">
                                                        {{ row["dba_owner"] }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ url_for('instance_info', id = row['id']) }}" type="button" class="btn btn-primary btn-xs">
                                                    Instance
                                                </a>
                                                <a href="{{ url_for('server_info', server_id = row['server_id']) }}" type="button" class="btn btn-primary btn-xs">
                                                    Server
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('#instlist').dataTable({
                'columns': [
                    {"orderable":false, "searchable":true},
                    {"orderable":false},
                    {"orderable":false},
                    {"orderable":false},
                    {"orderable":false},
                    {"orderable":false},
                    {"orderable":false}
                ]
            });
        });
    </script>
{% endblock %}

