{% extends "frame.html" %}
{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Shortcuts
                </div>
                <div class="panel-body">
                    <a type="button"
                       class="btn btn-info"
                       href="{{ url_for('server_info_edit', server_id=data['page_data']['server_id']) }}"
                       methods="POST">Edit</a>
                    <a type="button" class="btn btn-warning"  methods="POST">Maintenance</a>
                    <a type="button" class="btn btn-warning"  methods="POST">Repair Request</a>
                    <a type="button" class="btn btn-danger"  methods="POST">Offline</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Server Info for: {{ data['page_data']['server_id'] }}
                </div>
                <div class="panel-body">
                    aaa
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Instance List On Server: {{ data['page_data']['server_id'] }}
                </div>
                <div class="panel-body">
                    aaa
                </div>
            </div>
        </div>
    </div>
{% endblock %}