{% extends "frame.html" %}
{% import "bootstrap_form.html" as btstrp %}
{% set level1_name='cmdb' %}
{% set level2_name='server_list' %}
{% block page_wrapper %}
    <!-- this is the main content section to be overwritten -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <!-- Nav tabs -->
                    <form role="form" class="form-inline" action="{{ url_for('server_list') }}" method="GET">
                        {%  set form = data['filter_form'] %}
                        {{ btstrp.render_field(form.owner, label_visible=true, value=form['owner']) }}
                        {{ btstrp.render_field(form.mirror, label_visible=true, value=form['mirror']) }}
                        {{ btstrp.render_field(form.env, label_visible=true, value=form['env']) }}
                        {{ btstrp.render_field(form.server_status, label_visible=true, value=form['server_status']) }}
                        <button type="submit" class="btn btn-primary">Apply</button>
                        <a class="btn btn-primary" href="{{ url_for('server_list') }}">Reset</a>
                    </form>
                    <b>Action:</b>
                    <a type="button"
                       class="btn btn-warning"
                       href="{{ url_for('add_server') }}">
                        Add Server
                    </a>
                    <b>Shortcuts:</b>
                    <a class="btn btn-info" href="{{ url_for('server_list') }}">All Servers</a>
                    <a class="btn btn-info" href="{{ url_for('server_list', use_status='空闲') }}">Free Servers</a>
                    <a class="btn btn-info" href="{{ url_for('server_list', env='production') }}">Production Servers</a>
                    <a class="btn btn-info" href="{{ url_for('server_list', status='在线') }}">Online Servers</a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Tab panes -->
                        <div class="tab-pane fade in active" id="inuse">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="serverlist">
                                    <thead>
                                        <tr>
                                               <th>IP</th>
                                               <th>Host Name</th>
                                               <th>System</th>
                                               <th>Env</th>
                                                <th>Status</th>
                                               <th>Owner</th>
                                               <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%  if data['page_data']  %}
                                        {% set table_data = data['page_data']|sort(attribute='server_ip') %}
                                        {% for row in table_data %}
                                                <tr >
                                                    <td>
                                                        {% if row["server_ip"] %}
                                                            {{ row["server_ip"] }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if row["server_name"] %}
                                                            <a type="button" class="btn btn-default btn-xs">
                                                                {{ row["server_name"] }}
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if row["mirror"] %}
                                                            <a type="button" class="btn btn-default btn-xs">
                                                                {{ row['mirror'] }}
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if row["env"] %}
                                                            <a type="button" class="btn btn-default btn-xs">
                                                                {{ row['env'] }}
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if row["server_status"] and row["server_status"]=="在线" %}
                                                            <a type="button" class="btn btn-success btn-xs">
                                                                {{ row["server_status"] }}
                                                            </a>
                                                        {% elif row["server_status"]=="下线" %}
                                                            <a type="button" class="btn btn-default btn-xs">
                                                                {{ row["server_status"] }}
                                                            </a>
                                                        {% else %}
                                                            <a type="button" class="btn btn-default btn-xs">
                                                                {{ row["server_status"] }}
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if row["owner"] %}
                                                            <a type="button" class="btn btn-default btn-xs">
                                                                {{ row["owner"] }}
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{{ url_for('server_info', server_id = row['server_id']) }}" type="button" class="btn btn-primary btn-xs">
                                                            Detail
                                                        </a>
                                                    </td>
                                                </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}
{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
    $('#serverlist').dataTable({
        'columns': [
            {"orderable":true, "searchable":true},
            {"orderable":false, "searchable":true},
            {"orderable":false},
            {"orderable":false},
            {"orderable":true},
            {"orderable":false},
            {"orderable":false}
        ]
    });
});
</script>
{% endblock %}
